main{
  display: grid;
  grid-template-columns: 1fr 200px 20% 20%;
  grid-column-gap: 40px;
  margin: 40px


}
main>p{
  background-color: blue;
  text-align: center;
  padding: 40px;
  grid-row-gap: 40px;
  border: 10px;
  border-style: solid;
  border-color: red;
  outline: 10px;
  outline-style: dotted;
  outline-color: navy
}
main>p:hover{
  background-color: red;
  border: 20px;
  border-color: cyan;
  border-style: double;
  outline: 10px;
  outline-color: violet;
  outline-style: ridge;
  transition: 0,5s;
  transform: perspective(360);
}
body:hover{
background-color: rgb(0,0,0)
}
