main{
  display: grid;
  grid-template-columns: 1fr 200px 20% 20%;
  grid-column-gap: 40px;
  margin: 40px


}
main>p{
  background-color: magenta;
  text-align: center;
  padding: 40px;
  grid-row-gap: 40px;
  border: 10px;
  border-style: hidden;
  border-color: violet;
  outline: 10px;
  outline-style:  outset;
  outline-color: steelblue;
}
main>p:hover{
  background-color: red;
  border: 20px;
  border-color: cyan;
  border-style: double;
  outline: 10px;
  outline-color: violet;
  outline-style: ridge;
  transition:1s;
  transform: matrix(360);
}
body:hover{
background-color: chartreuse
}
