body{
  background-color: darkblue;
}

h1{
  margin-top: 80px;
  font-size: 40px;
  color: red;
  background-color: navy blue;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  border: 20px;
  border-color: cornflowerblue;
  border-style: double;
  text-align: center;
  outline: 40px;
  outline-color: red;
  outline-style: solid;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 10px;

}
h2{
  font-size: 20px;
  color: red;
  text-align: center;


}

li{
 text-align: center;
 color: red;
 font-size: 20px;
}

a{
 text-align: center;
 color: red;
 font-size: 20px;
}

p{
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  background-color: Dodgerblue;
  border: 4px;
  border-color: firebrick;
  border-style: double;

}
body:hover{
  background-color: Royalblue;
  color: Lightskyblue;
}

p:hover{
  background-color: indigo;
  border: 20px;
  border-color: gray;
  border-style: dotted;
}
a:hover{
  color: white;

}
